/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

#btn { 
	position: absolute;
    top: 50%;
 }